*{
    margin: 0 16px;
    padding: 10px 0;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
header{
    background-color: #FFFFFF #D5D5D5;
    color: #FFFFFF #D5D5D5;
}
body{
    font-family: 'Poppins','sans-serif';
    background-color: #FFFFFF #D5D5D5;
    color:#FFFFFF #D5D5D5;

}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho{
    background-color: #FFFFFF #D5D5D5;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 29px;
}
.cabecalho-lista-item{
     display: inline-block;
     margin: 0 16px;
}
.escola-imagem{
    width: 75px;
}

.escola{
    background-image: linear-gradient(#FFFFFF, #D5D5D5);
    
}
.escola-conteudo{
    width: 45%;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
.escola-titulo{
    padding: 24px 0;
    width: 24%;
    text-align: center;
}
.estudante-imagem{
    width: 300px;
}
.estudante-icone{
    width: 150px;
}
.estudantes{
    text-align: center;
}
.escola-texto-dois{
    padding: 24%;
}
.escola-texto-um{
    padding: 24%;
}