header{
    background-color:bisque;
    color:beige;
}
body{
    background-color:brown;
    color:aquamarine;

}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho{
    background-color: azure;
    display: flex;
}